* {
  font-family: 'Karla', serif;
}

h1 {
  font-size: 43px;
  margin-bottom: 10px;
}

p.center {
  text-align: center;
  font-size: 12px;
  width: 500px;
  margin: 0 auto 0 auto;
  line-height: 1.5;
}

img {
  width: 90px;
  height: 100px;
}

.container {
  max-width: 900px;
  margin: 1em auto 1em;
}

.row {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.column-block {
  width: 30%;
}

.info {
  padding-top: 10px;
  line-height: 1.5;
  font-size: 12px;
  width: 80%;
}

.title-head {
  font-weight: bold;
  font-size: 13px;
  width: 65%;
  margin-top: 40px;
}

.center {
  justify-content: center;
  display: flex;
}

input {
  padding: 8px 30px;
  background-color: white;
  font-weight: bold;
  border-color: rgb(240, 46, 29);
  border-style: solid;
  color: rgb(240, 46, 29);
  font-size: 12px;
}
